html,
body {
  padding: 0;
  margin: 0;
}
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
}
.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Custom button styles */
#maison-button {
  width: 35px; /* Same width as the Leaflet Draw controls */
  height: 35px; /* Same height as the Leaflet Draw controls */
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 4px;
  margin-bottom: 10px; /* Adjust the vertical spacing between buttons */
  cursor: crosshair;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  /* ... other styles ... */
}

.aura {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0; /* Initially hidden */
}

#next-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: 25vw; /* Same width as the Leaflet Draw controls */

  padding: 1em;
}

/* Add a class for click capturing */
.click-capture {
  position: relative;
}

/* Style for the info box container */
#storyBox {
  position: fixed;
  top: 60%;
  left: 50%;
  width: 90%;
  max-height: 90%;
  transform: translate(-50%, -50%);
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  z-index: 950;
  border-radius: 1em;
  text-align: left;
  overflow: scroll;
}

#storyImage {
  max-width: 30%; /* Adjust this value as needed to control the image size */
  float: left;
  margin: 0 20px 0px 0; /* Add space around the image */
  z-index: 999;
  border-radius: 1em;
  padding: 1em;
}

#storyContent {
  /* Set the width of the text container to allow it to wrap around the image */
  width: 100%; /* Adjust this value to control the width of the text container */
}

#storyContent p {
  /* Clear the float to ensure the text does not wrap around other elements */
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
