/* Add a media query for screens with a maximum width of 768 pixels (typical mobile devices) */
@media only screen and (max-width: 768px) {
    /* Adjust the styles for mobile devices here */
  
    /* Example: Set the width of the info-box to 90% and center it horizontally */
    .storyBox {
      width: auto;
      padding: 5%;
      margin: auto;
    }
  
    .typeWriter {
      font-size: small
    }
  
    .storyBox #storyImage {
      width: 50%;
      height: auto;
      margin-bottom: 30px;
    }
  
    font-family: 'Bitter', serif;
    .popup-content button {
      background-color: #007bff;
      color: #fff;
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    #data-titre,
    #data-year,
    #data-manifesturl {
      color: black;
    }
  
    #data-titre {
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      font-size: 0.95em;
      text-align: left;
    }
  
    #darkGlasses {
      font-size: xx-large;
      border: none;
    }
  
    ul {
      list-style: none; /* Remove bullets */
      padding: 0; /* Remove any padding */
      margin: 0; /* Remove any margin */
    }
  
    li {
      list-style: none; /* Remove bullets */
      margin: 0; /* Remove any margin */
      padding: 0; /* Remove any padding */
    }
  
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    }
  
    /* Additional styles for the image inside the .intro div */
    .storyBox #storyImage {
      width: 100%;
      height: auto;
      margin-bottom: 20px; /* Add space of 20 pixels at the bottom */
    }
  
    .typeWriter {
      visibility: hidden;
    }
  
    .hidden {
      visibility: hidden;
      z-index: 999;
      border-radius: 2em;
      margin-bottom: 10px;
    }
  
    #spy-svg {
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 999;
      width: 100px;
      height: 100px;
      margin: 10px;
      visibility: hidden;
    }
  
    /* Add a media query for screens with a maximum width of 768 pixels (typical mobile devices) */
    @media only screen and (max-width: 768px) {
      /* Adjust the styles for mobile devices here */
  
      /* Example: Set the width of the info-box to 90% and center it horizontally */
      .storyBox {
        width: auto;
        padding: 5%;
        margin: auto;
         }
  
      .typeWriter {
        font-size: small
      }
  
    